ul.footermenu {
  padding-top: 8px;
  li+li {
    border-left: 1px solid #fff;
  }
}
body { padding-top: 30px; }

// Variables
$brand-gray: #eaeaea;
$facebook: #3b5998;
$googleplus: #dd4b39;
$linkedin: #007bb6;

// color class


// bg class
.brand-gray-bg { background-color: $brand-gray; }
.white-bg { background-color: #fff; }

// btn-class
.btn-facebook { @include button-variant(white, $facebook, $facebook); }
.btn-googleplus { @include button-variant (white, $googleplus, $googleplus ); }
.btn-linkedin { @include button-variant (white, $linkedin, $linkedin); }

.btn:focus,
:active {
  border-color: inherit;
  outline: none;
 }
// register client and lancer
.btn-social-icon { padding-right: 10px; }
.social-btn {
  margin: 25px 0 15px;
  .btn { margin: 0 10px; }
}
.or {
  &:after {}
  &:before {}
}
// .input-placeholder {
//   @include placeholder { color: #000; }
// }
.registration {
  input {
    min-height: 40px;
    border-radius: 2px;
    border-color: transparent;
    background-color: $brand-gray;
  }   
}
// end of register client and lancer
