ul.footermenu {
  padding-top: 8px;
  li+li {
    border-left: 1px solid #fff;
  }
}
body {
  padding-top: 30px;
}
.form-control:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}
.custom-select {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  z-index: 999;
  select {
    @include appearance(none);
    border: none;
    width: 100%;
    background-color: transparent;
    outline: 0;
    color: white;
    cursor: pointer;
    height: 40px;
    position: relative;
    z-index: 9999;
  }
  &:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0d7";
    height: 40px;
    width: 28px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
  }
}
// slidemenu
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  i {
    margin-right: 15px;
    font-size: 16px;
  }
}
.get-slidemenu {
  width: 300px;
  background-color: $base-primary;
  .navbar-nav { float: none; }
  .navbar-nav > li { float: none; }
}
.slide-out {
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  @include transform(translateX(300px));
  @include transition(all 300ms linear);
}
.slide-in {
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  @include transform(translateX(0px));
  @include transition(all 300ms linear);
}
.backsidemenu {
  padding: 10px;
  border: none;
  float: right;
  background-color: transparent;
  &:focus { outline: none; }
  .icon-bar {
    @include size(30px,3px);
    margin: 5px 0;
    display: block;
    background-color: $base-primary;
  }
}
// end slidemenu
// register client and lancer
.btn-social-icon {
  padding-right: 10px;
}
.social-btn {
  margin: 25px 0 15px;
  .btn {
    margin: 0 10px;
  }
}
.or {
  &:after {}
  &:before {}
}
// .input-placeholder {
//   @include placeholder { color: #000; }
// }
.account {
  padding: 10px 0 0;
}
.register-form {
  margin-bottom: 30px;
  input {
    min-height: 40px;
    border-radius: 6px;
    border-color: transparent;
    background-color: $brand-gray;
    box-shadow: none;
  }
  textarea{
    resize: none;
    border-radius: 6px;
    border-color: transparent;
    background-color: $brand-gray;
    box-shadow: none;
    padding-right: 35px;
  }
  .form-group {
    margin-bottom: 25px;
  }
}
.input-icon {
  top: 50%;
  right: 2%;
  @include transform(translate(2%,-50%));
  color: #777;
  font-size: 16px;
}
i.fa-mobile.input-icon {
  font-size: 22px;
}
.user {
  i {
    font-size: 50px;
  }
  input,
  .profile-pic {
    width: 60%;
    padding: 30px 0 20px;
    top: 0;
    right: 0;
    background-color: $brand-gray;
  }
  input {
    min-height: 140px;
    opacity: 0;
    z-index: 1;
  }
  p {
    margin-top: 20px;
    padding: 0px 20px;
  }
}
.uploaded-img {
  @include size(157px,140px);
  position: relative;
  img {
    max-width: 100%;
    @extend .ab;
    @extend .get-center;

  }
}
.signup {
  padding: 8px 50px;
}
// end of register client and lancer
// success stories
.heading { padding: 10px 0 0; }
.successstory-slider {
  .flexslider {
    border: none;
    margin: 0 0 20px;
    background-color: transparent;
  }
  .flex-control-nav {
    padding: 30px 0 20px;
    position: static;
    background-color: #fff;
  }
  .flex-control-paging li a {
    border-color: $brand-gray;
    background: $brand-gray;
  }
  .flex-control-paging li a.flex-active {
    border-color: $base-primary;
    background: $base-primary;
  }
}
.story-slider {
  width: 100% !important;
  padding: 20px 0;
  background-color: #fff;
}
.story-imgholder {
  @include square(120px);
  margin: 0 auto;
  overflow: hidden;
}
.story-descp {
  padding: 100px 0;
}
.story-part {
  width: 70%;
  margin: 0 auto;
  font-size: 18px;
  &:before {
    content: '';
    @include square(60px);
    position: absolute;
    top: -50px;
    left: -50px;
    background-image: url('../img/left-comma.png');
    background-repeat: no-repeat;
  }
  &:after {
    content: '';
    @include square(60px);
    position: absolute;
    right: 0;
    bottom: -50px;
    background-image: url('../img/right-comma.png');
    background-repeat: no-repeat;
  }
}
// end success stories

// post-job

.landing {
  padding: 10% 0;
  background: url('../img/background.jpg') no-repeat;
}
.search-input  {
  select {
  height: 50px;
  padding: 8px 30px;
  color: $base-primary;
  font-size: 18px;
  option { background-color: rgba(255,255,255,0.9) ; }
}
.job-select {
  @include size(100%,50px);
  border: 1px solid $base-primary;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
}
}
.custom-select:after {
  @include square(50px);
  border-radius: 8px;
  color: rgba(4, 137, 199, 0.9);
  line-height: 50px;
}
.post-job-btn button {
  width: 100%;
  padding: 10px 12px;
  margin: 15px 0;
  font-size: 20px;
}
.heading-job-bg h4 {
    font-size: 20px;
}
.post-jb a {
  padding: 10px 0;
  border-bottom: 1px solid $base-primary;
  display: inline-block;
  font-size: 18px;
}
.heading-job-bg {
  padding: 5px 0;
  background-color: #f9f9f9;
}
.benefit-list {
  margin: 40px 0;
  li {
    margin: 20px 0;
    font-size: 18px;
    list-style-type: none;
    i {
      margin-right: 10px;
      color: #008000;
      font-size: 22px;
    }
  }
}
// end of post-job

// job list
.search-job {
  padding: 25px 0 0;
  .input-group-addon {
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid $brand-gray;
    color: #b0b0b0;
  }
  input {
    border: 1px solid transparent;
    box-shadow: none;
  }
}
.result-text {
  margin: 15px 0;
  font-size: 16px;
}
.search-prsn {
  padding: 20px 0;
  margin-bottom: 10px;
  .pro-img {
    @include square(75px);
    margin: 0 auto;
  }
  .view-btn button { margin: 0 5px; }
}
// end job list

// company job  - profile page
.company-profiletab {
  .nav-tabs {
    border: none;
    margin: 20px 0 20px 100px;
  }
  .nav-tabs > li > a {
    width: 180px;
    padding: 10px 35px;
    border: none;
    border-radius: 0;
    margin: 0;
    background-color: #ccc;
    color: #616161;
    text-align: center;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    border: none;
    border-radius: 0;
    background-color: $base-primary;
    color: #fff;
    cursor: pointer;
  }
}
.about-company,
.list-jobs {
  padding: 20px 10px;
  @include box-shadow(0 4px 25px -8px rgb(144, 144, 144) inset);
}
.notifications { padding: 20px 10px; }
.job-list-main {
  padding: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: $brand-gray;
  @include box-shadow(0 2px 3px #6B6A6A);
  .job-detail { margin-top: 20px; }
}
.edit-btn {
  i {
    margin: 0px 5px;
    color: #b0b0b0;
    cursor: pointer;
    font-size: 18px;
  }
}
.profile-detail {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
.pro-head {
  .head-title { margin: 0px 0px 15px; }
}
// company job profilepage end

// resume page
.resume { padding: 30px 0; }
.resume-heading {
  padding: 10px;
  background-color: $base-primary;
  color: #fff;
  font-size: 18px;
}
.resume-info { margin: 30px 0; }
.resume-detail {
  padding: 20px;
  font-size: 15px;
  .icon {
    font-size: 16px;
    margin-right: 10px;
  }
}
.skill-list {
  padding: 0;
  li { list-style-type: none; }
}
// resume page end

// search-category
.search-btn {
  padding: 8px 24px;
  margin: 40px 0;
}
// end search category
// post new job
.select-newjob {
select {
  height: 40px;
  padding: 8px 10px;
  font-size: 15px;
}
.job-select { height: 40px; }
&:after {
  @include square(40px);
  line-height: 40px;
}
}
// end of post new job
.minh { min-height: 150px; }
