@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$base-color: #000!default;
$base-primary: #0489c7!default;
@font-face {
  font-family: Micross;
  src: url('../fonts/micross.ttf');
}
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
.full-width {
  width: 100%;
}
body {
  font-family: Micross,Arial, sans-serif;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
a {
  cursor: pointer;
}
nav li:hover .dropdown-menu {
  display: block;
}
.navbar-default {
  background-color: #fff;
  border-color: #fff;
  border-width: 0;
  box-shadow: 1px 0 6px #ddd;
}
.navbar-brand img {
  width: 130px;
}
.rl {
  position: relative;
}
.ab {
  position: absolute;
}
.pt45 {
  padding-top: 50px;
}
.flexslider {
  margin: 0 0 30px;
  border: 0 solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 0;
}
a:hover {
  text-decoration: none;
}
a.navbar-brand {
  padding-top: 0;
}
.get-center {
  top: 50%;
  left: 50%;
  transform: translate(50%,50%);
}
.bold {
  font-weight: 600;
}
.blue-color {
  color: $base-primary;
}
.pad30 {
  padding: 30px 0;
}
.home-head {
  span {
    font-size: 24px;
  }
}
.cont-home {
  padding-top: 20px;
  text-align: justify;
  p {
    height: 80px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
}
footer {
  background: $base-primary;
  padding: 8px 0 3px;
  ul {
    li {
      display: inline-block;
      color: #fff;
      padding: 0 10px;
      a {
        color: #fff;
        @include transition(all ease 300ms);
        i {
          height: 32px;
          width: 32px;
          border-radius: 50%;
          color: #0489c7;
          background: #fff;
          font-size: 20px!important;
          padding: 7px 0 0;
          text-align: center;
        }
        &:hover,
        &:focus {
          color: darken(#fff, 20%);
          text-decoration: none;
        }
      }
    }
  }
  ul.footermenu {
    padding-top: 8px;
    li+li {
      border-left: 1px solid #fff;
    }
  }
}
.slide-menu {
    width: 280px;
}
@import "amit";
/* Start writing sass here */
