<div class="about pt45">
  <div class="slider">
    <flex-slider flex-slide="s in mySlides">
      <li>
        <img ng-src="{{s}}">
      </li>
    </flex-slider>
  </div>
</div>
<div class="container">
  <div class="about-cont">
    <h3 class="text-center blue-color bold">
      About Us
    </h3>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-center">At FlexiMe, we are purely facilitating a service by creating a platform that effectively connects flexi-work seekers to project assigners.</p>
        <h4 class="blue-color">Flexi Talent Sourcing</h4>
        <p>FexiMe lends to Talent Sourcing, a reliable intermediary role that creates opportunities for people seeking the convenience of flexible working hours, from a place of their choosing. We draw from conventional sourcing mechanisms to create a service
          model that accurately identifies, orients and refers high calibre talent looking for either part time-flexi time and project based work arrangements from office or home.</p>
        <p>The Flexi-Talent Sourcing (FTS) database comprises career women on maternity or other home related leave, retired senior citizens or even young talent. People with the requisite expertise and experience to handle critical high-value assignments
          that conventionally engages an in-house skilled team, resulting in high fixed cost and low operational efficiency for corporates.</p>
        <p>FlexiMe through FTS serves a two-pronged strategy.</p>
        <p><span class="blue-color">For corporates</span>, our work enhances efficiency and productivity keeping overheads in check</p>
        <p><span class="blue-color">For qualified professionals</span> assignments that complement their credentials and potential along with the flexibility of working hours.</p>
        <h4 class="blue-color">The FlexiMe Advantage</h4>
        <p>FlexiMe, the brainchild of M/s Amanat Consulting Private Limited brings to project outsourcing a higher paradigm of integrity and accountability. Keeping in line with our two main USPs namely; flexible working and high-calibre professionals, we facilitate <span class="text-underline">flexi-work</span> placements of suitable individuals with adequate, skill set, educational qualification and experience as required by the corporates from time to time, till the validity of our agreement.</p>
        <p>Disclaimer: Genuine efforts will be made to provide information on the candidates. We however disclaim any responsibility to any information provided on the candidates and clients are free to conduct their own verification on the same.</p>
      </div>
    </div>
  </div>
</div>
