<div class="pt45">
  <div class="company-profiletab brand-gray-bg">
    <div class="container">
      <h3 class="company-name blue-color">{{company.companyDetails.companyName}} Company Profile</h3>
      <uib-tabset>
        <uib-tab>
          <uib-tab-heading><span>About Company</span></uib-tab-heading>
          <div class="about-company white-bg">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-3">
                    <div class="company-imgholder">
                      <img src="img/house.jpg" alt="Company Image" class="img-responsive">
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="company-detail">
                      <div class="profile-detail">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="pro-icon">
                              <img src="img/icon3.png">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="edit-btn pull-right">
                              <img src="img/pencil.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="profile-info">
                              <div class="pro-head">
                                <h4 class="blue-color head-title">Company details: </h4>
                                <span>{{company.companyDetails.name}}</span>
                                <span>{{company.companyDetails.email}}</span>
                                <div class="pro-add">
                                  <span class="block">{{company.companyDetails.contactNo}}</span>
                                  <span class="block">{{company.companyDetails.address}}</span>
                                  <!-- <span class="block">Near Sadhana School</span>
                                  <span class="block">Sion (East), Mumbai</span>
                                  <span class="block">Maharashtra-420020</span> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="profile-detail">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="pro-icon">
                              <img src="img/icon3.png">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="edit-btn pull-right">
                              <img src="img/pencil.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="profile-info">
                              <div class="pro-head">
                                <h4 class="blue-color head-title">Experience</h4>
                                <span>{{company.companyDetails.experience}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="profile-detail">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="pro-icon">
                              <img src="img/icon3.png">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="edit-btn pull-right">
                              <img src="img/pencil.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="profile-info">
                              <div class="pro-head">
                                <h4 class="blue-color head-title">Description</h4>
                                <span>{{company.description}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="post-jb">
                        <button class="btn btn-primary no-radius">Post Job</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="lady-img">
                  <img src="img/right.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><span>List Of Jobs</span></uib-tab-heading>
          <div class="list-jobs white-bg">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-3">
                    <div class="company-imgholder">
                      <img src="img/house.jpg" alt="Company Image" class="img-responsive">
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="job-list-main" ng-repeat="job in company.jobs">
                      <div class="edit-btn pull-right">
                        <i class="fa fa-pencil"></i>
                        <i class="fa fa-trash"></i>
                      </div>
                      <h4 class="blue-color job-title text-uppercase m-clear">{{job.title}}</h4>
                      <div class="job-detail">
                        <p class="text-justify">{{job.description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="lady-img">
                  <img src="img/right.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
