<div class="forgotpassword">
  <div class="banner">
    <img src="img/forgot.jpg" alt="" class="img-responsive">
  </div>
  <div class="container">
    <div class="forgot-main">
      <div class="row">
        <div class="col-md-5">
          <form action="" class="register-form">
            <div class="form-group">
              <label for="old">Old Password</label>
              <input type="text" class="form-control" id="old">
            </div>
            <div class="form-group">
              <label for="new">New Password</label>
              <input type="text" class="form-control" id="new">
            </div>
            <div class="form-group">
              <label for="confirm">Old Password</label>
              <input type="text" class="form-control" id="confirm">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-more" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
