<div class="pt45">
<div class="slider">
  <flex-slider flex-slide="s in mySlides">
    <li>
      <img ng-src="{{s}}">
    </li>
  </flex-slider>
</div>
  <div class="container">
    <div class="home-flexi">
      <div class="row">
        <div class="col-md-offset-2 col-md-4 ">
          <div class="free-lancer pad30">
            <div class="row">

                <div class="home-head">
                <div class="col-xs-5">
                  <a href="#/registerclient">  <img src="img/computer.jpg" alt=""></a>
                </div>
                <div class="col-xs-7 ">
                    <a href="#/registerclient">
                      <div class="display-inline">
                  <span>Work as a</span>
                  <br>
                  <span class="bold">flexi</span>
                  <span class="blue-color bold">Lancer</span>
                  </div>
              </a>
              <!-- <div class="i-class" >
                <span>i</span>
              </div> -->
                </div>
              </div>


              <div class="col-md-12">
                <div class="cont-home">
                  <p>
                  Highly skilled / experienced resources like women after leave, retired senior citizens or even young talent, wanting to work on flexible working arrangements, which include : Flexible hours, part time, work from home, on specific projects/ assignments
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="free-client pad30">
            <div class="row">

              <div class="home-head">
                <div class="col-xs-5">
                <a href="#/registerlancer">  <img src="img/handshake.jpg" alt=""></a>
                </div>
                <div class="col-xs-7">
                <a href="#/registerlancer">
                    <div class="display-inline">
                    <span>Hire as a</span>
                    <br>
                    <span class="bold">flexi</span>
                    <span class="blue-color bold">Client</span>
                  </div>
                </a>

<!-- <div class="i-class" >
                    <span>i</span>
                  </div> -->
                </div>
              </div>
              </a>
              <div class="col-md-12">
                <div class="cont-home">
                  <p>
                  Corporates, SMEs and Start ups looking to deploy highly skilled non full time consultants on flexi arrangements basis
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
