<div class="pt45">
  <flex-slider flex-slide="s in mySlides">
    <li>
      <img ng-src="{{s}}">
    </li>
  </flex-slider>
  <div class="container">
    <div class="home-flexi">
      <div class="row">
        <div class="col-md-6">
          <div class="free-lancer">
            <div class="row">
              <div class="col-md-3">
                <img src="img/computer.jpg" alt="">
              </div>
              <div class="col-md-9">
                <p>Work as a
                  <br>
                  <span class="bold">flexi</span>
                  <span class="blue-color">Lancer</span>
                </p>
              </div>
              <div class="col-md-12">
                <div class="cont-home">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="free-client">
            <div class="row">
              <div class="col-md-3">
                <img src="img/handshake.jpg" alt="">
              </div>
              <div class="col-md-9">
                <p>Work as a
                  <br> flexi Lancer</p>
              </div>
              <div class="col-md-12">
                <div class="cont-home">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
