<div class="">
  <div class="slider">
    <flex-slider class="carousel" animation="fade" flex-slide="s in mySlides track by $index">
      <li>
        <img ng-src="{{s}}" alt="" class="img-fesponsive">
      </li>
    </flex-slider>
  </div>
  <div class="container">
    <div class="home-flexi">
      <div class="row">
        <div class="col-md-offset-2 col-md-4 ">
          <div class="free-lancer pad30">
            <div class="row">

              <div class="home-head">
                <div class="col-xs-5">
                <a ui-sref="registerlancer"> <img src="img/computer.jpg" alt=""></a>
                </div>
                <div class="col-xs-7 ">
                  <a ui-sref="registerlancer">
                    <div class="display-inline">
                      <span>Work as a</span>
                      <br>
                      <span class="bold"><i>flexi</i></span>
                      <span class="blue-color bold">Lancer</span>
                    </div>
                  </a>
                  <!-- <p class="tagline m-clear">My Work - My Time</p> -->
                  <!-- <div class="i-class" >
                <span>i</span>
              </div> -->
                </div>
              </div>


              <div class="col-md-12">
                <div class="cont-home">
                  <p>Highly skilled / experienced resources seeking work on flexible working arrangements- (e.g. women, retired senior citizens or even young talent), flexible hours, part time, work from home, on specific projects / assignments
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="free-client pad30">
            <div class="row">
              <div class="home-head">
                <div class="col-xs-5">
                  <a ui-sref="registerclient"> <img src="img/handshake.jpg" alt=""></a>
                </div>
                <div class="col-xs-7">
                  <a ui-sref="registerclient">
                    <div class="display-inline">
                      <span>Hire as a</span>
                      <br>
                      <span class="bold"><i>flexi</i></span>
                      <span class="blue-color bold">Client</span>
                    </div>
                  </a>

                  <!-- <div class="i-class" >
                    <span>i</span>
                  </div> -->
                </div>
              </div>
              </a>
              <div class="col-md-12">
                <div class="cont-home ">
                  <p>Corporates, SMEs and Start ups looking to deploy highly skilled non full time consultants on flexi arrangements basis</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
