<section>
  <div class="pt45">
    <div class="container-fluid">
      <form action="" name="">
        <div class="row">
          <div class="col-md-3"><i class="fa fa-search"></i>
            <input type="text" placeholder="Mobile Developer" class="form-control">
          </div>
          <div class="col-md-3"><i class="fa fa-map-marker"></i>
            <input type="text" placeholder="Mumbai" class="form-control">
          </div>
          <div class="col-md-3">
            <button type="button" name="button" class="btn btn-primary">Search Jobs</button>
          </div>
        </div>
      </form>
      <p> 1000 Mobile developers found!</p>
      <div class="row">
        <div class="col-md-9">
          <div class="left-side">
            <img src="img/house.jpg" alt="" class="full-width">
          </div>
          <div class="name-row">
            <div class="pull-right">
              <div class="btn btn-primary">View Details</div>
              <div class="btn btn-primary">Apply Now</div>
            </div>
            <h5>Bobcorn</h5>
          </div>
          <div class="job-cont">
            <ul class="list-unstyled">
              <li>Hourly</li>
              <li>1000-2000 Rs.</li>
              <li>40 hours weekly</li>
              <li>Posted 2 months ago</li>
              <li>expires Jan 26,2016</li>
            </ul>
          </div>
          <div class="box-cont">
            <p>
              I am looking for a mobile app developer to work on various IOS and Android apps. The first project would be to develop a mobile app for both IOS and Android where we will provide
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="right-side">
            <img src="img/ladyphone.jpg" alt="" class="full-width">
            <div class="reg-box text-center">
              <button type="button" name="button" class="btn btn-primary btn-lg">Registration</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
