<section>
  <div class="pt45">
    <div class="container-fluid">
      <form action="" name="">
        <div class="row">
          <div class="col-md-3"><i class="fa fa-search"></i>
            <input type="text" placeholder="Mobile Developer" class="form-control">
          </div>
          <div class="col-md-3"><i class="fa fa-map-marker"></i>
            <input type="text" placeholder="Mumbai" class="form-control">
          </div>
          <div class="col-md-3">
            <button type="button" name="button" class="btn btn-primary">Search Jobs</button>
          </div>
        </div>
      </form>
      <p> 1000 Mobile developers found!</p>
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-2">
              <img src="img/house.jpg" alt="" class="full-width">
            </div>
            <div class="col-md-8">
              <div class="pull-right">
                <div class="btn btn-primary">View Details</div>
                <div class="btn btn-primary">Apply Now</div>
              </div>
              <h5>Bobcorn</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
  </div>
</section>
