<section>
  <div class="pt45">
    <div class="container-fluid">
      <form action="" name="">
        <div class="row">
          <div class="col-md-3"><i class="fa fa-search"></i>
            <input type="text" placeholder="Mobile Developer" class="form-control">
          </div>
          <div class="col-md-3"><i class="fa fa-map-marker"></i>
            <input type="text" placeholder="Mumbai" class="form-control">
          </div>
          <div class="col-md-3">
            <button type="button" name="button" class="btn btn-primary">Search Jobs</button>
          </div>
        </div>
      </form>
      <p> 1000 Mobile developers found!</p>
      <div class="row">
        <div class="col-md-9">
          <div class="left-side">
            <div class="image-holder">
              <div class="image">
                <img src="img/buliding.jpg" alt="" class="">
              </div>
              <div class="name-row">
                <div class="pull-right">
                  <div class="btn btn-primary">View Details</div>
                  <div class="btn btn-primary">Apply Now</div>
                </div>
                <h5>Bobcorn <span>(Mobile App Developer)</span></h5>
                <p>Mumbai</p>
                <ul class="list-unstyled">
                  <li>Posted 2 months ago</li>
                  <li>expires Jan 27,2016</li>
                </ul>
              </div>
              <div class="box">
                <div class="box-cont">
                  <h5>About Company</h5>
                  <p>
                    I am looking for a mobile app developer to work on various IOS and Android apps. The first project would be to develop a mobile app for both IOS and Android where we will provide
                  </p>
                </div>
                <div class="box-cont">
                  <h5>Job Details</h5>
                  <p>
                    I am looking for a mobile app developer to work on various IOS and Android apps. The first project would be to develop a mobile app for both IOS and Android where we will provide
                  </p>
                </div>
                <div class="box-cont">
                  <h5>Responsibility</h5>
                  <p>
                    I am looking for a mobile app developer to work on various IOS and Android apps. The first project would be to develop a mobile app for both IOS and Android where we will provide
                  </p>
                </div>
                <div class="box-cont">
                  <ul class="list-unstyled">
                    <li>
                      <p>Salary</p>
                      <p>5000-10000</p>
                    </li>
                    <li>
                      <p>Exposure</p>
                      <p>WorldWide</p>
                    </li>
                    <li>
                      <p>Role</p>
                      <p>Developer</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="right-side">
            <div class="detail-cont">
              Want to Apply? Please Sign in Register to apply.
              <button type="button" name="button" class="btn btn-primary btn-lg">Registration</button>
              Already a member? <a href="#">SignIn</a>
            </div>
            <div class="detail-cont">
              <h5> Similar Jobs</h5>
              <ul class="list-unstyled">
                <li>Aapot ,Mumbai,(Mobile Developer)</li>
                <li>BindCity ,Mumbai,(Mobile Developer)</li>
                <li>Caploft ,Mumbai,(Mobile Developer)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
