<section>
  <div class="pt45 brand-gray-bg">
    <div class="container">
      <div class="search-job">
        <form action="" class="form-inline">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon white-bg no-radius"><i class="fa fa-search"></i></span>
                  <input type="text" class="form-control no-radius" placeholder="Mobile Developer">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon white-bg no-radius"><i class="fa fa-map-marker"></i></span>
                  <input type="text" class="form-control no-radius" placeholder="Mumbai">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <button class="btn btn-primary no-radius">Search Jobs</button>
            </div>
          </div>
        </form>
        <p class="result-text bold"> 1000 Mobile developers found!</p>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="white-bg">
            <div class="list">
              <div class="row">
                <div class="col-md-3">
                  <div class="left-side">
                    <img src="img/resgration.png" alt="">
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="name-row">
                    <div class="pull-right">
                      <div class="btn btn-inverse no-radius">View Details</div>
                      <div class="btn btn-primary no-radius">Apply Now</div>
                    </div>
                    <h5 class="blue-color">Bobcorn <span>(Mobile App Developer)</span></h5>
                    <p>Mumbai</p>
                    <ul class="list-unstyled bottom-ul ab post-made">
                      <li>Posted 2 months ago</li>
                      <li>expires Jan 27,2016</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="box">
              <div class="box-cont">
                <h5>About Company</h5>
                <p>
                  I am looking for a mobile app developer to work on various IOS and Android apps. The first project would be to develop a mobile app for both IOS and Android where we will provide
                </p>
              </div>
              <div class="box-cont">
                <h5>Job Details</h5>
                <p>
                  I am looking for a mobile app developer to work on various IOS and Android apps. The first project would be to develop a mobile app for both IOS and Android where we will provide
                </p>
              </div>
              <div class="box-cont">
                <h5>Responsibility</h5>
                <p>
                  I am looking for a mobile app developer to work on various IOS and Android apps. The first project would be to develop a mobile app for both IOS and Android where we will provide
                </p>
              </div>
              <div class="box-cont">
                <ul class="list-unstyled">
                  <li>
                    <p>Salary</p>
                    <p>5000-10000</p>
                  </li>
                  <li>
                    <p>Exposure</p>
                    <p>WorldWide</p>
                  </li>
                  <li>
                    <p>Role</p>
                    <p>Developer</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="right-side">
            <img src="img/joblist.jpg" alt="">
            <!-- <div class="detail-cont">
              Want to Apply? Please Sign in Register to apply.
              <button type="button" name="button" class="btn btn-primary btn-lg no-radius">Registration</button>
              Already a member? <a href="#">SignIn</a>
            </div>
            <div class="detail-cont">
              <h5> Similar Jobs</h5>
              <ul class="list-unstyled">
                <li>Aapot ,Mumbai,(Mobile Developer)</li>
                <li>BindCity ,Mumbai,(Mobile Developer)</li>
                <li>Caploft ,Mumbai,(Mobile Developer)</li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
