<section>
  <div class=" brand-gray-bg">
    <div class="container">
      <div class="search-job">
        <form action="" class="form-inline">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon white-bg no-radius"><i class="fa fa-search"></i></span>
                  <input type="text" class="form-control no-radius" placeholder="Graphic Designer" ng-model="data.category">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon white-bg no-radius"><i class="fa fa-map-marker"></i></span>
                  <input type="text" class="form-control no-radius" placeholder="Mumbai" ng-model="data.city">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <button class="btn btn-primary" ng-click="search(data, 1)">Search Jobs</button>
            </div>
          </div>
        </form>
        <!-- <p class="result-text">30 Graphic Designer Profiles found !</p> -->
        <p class="result-text bold"> {{count}} Mobile developers found! </p>
      </div>
      <div class="row">
        <div class="col-md-9 pr5">
          <!-- <span> -->
          <div class="list white-bg" ng-repeat="data in joblist" infinite-scroll='loadMore()' infinite-scroll-distance='2' infinite-scroll-listen-for-event="shouldscroll">
            <div class="row">
              <div class="col-md-3">
                <div class="left-side">
                  <img ng-src="{{data.image|serverimage}}" alt="">
                </div>
              </div>
              <div class="col-md-9">
                <div class="name-row">
                  <div class="pull-right">
                    <div class="btn btn-inverse  mgr" ui-sref="jobdetail({id: data._id, job: data.company.job._id})">View Details</div>
                    <div class="btn btn-primary" ng-click="applyForJob(data.company.job) openpop();">Apply Now</div>
                  </div>
                  <h5 class="blue-color bold">{{data.company.name}}</h5>
                  <div class="job-cont">
                    <ul class="list-unstyled">
                      <!-- <li class="bold">{{data.jobPayment}}</li> -->
                      <!-- <li class="bold">{{data.payment}}</li> -->
                      <!-- <li class="bold">{{data.timeCommitment}}</li> -->
                      <!-- <li class="bold">{{data._id}}</li> -->
                      <li class="bold" am-time-ago="data.company.job.reporting" ng-if="data.company.job.reporting">Posting Date: </li>
                      <li class="bold">expires {{data.company.job.appdate | amDateFormat:'MMMM Do YYYY'}}</li>
                      <li class="bold">{{data.company.job.city}}</li>
                      <li class="bold">{{data.company.job.designation}}</li>
                    </ul>
                  </div>
                  <div class="box-cont">
                    <p>{{data.description}}</p>
                  </div>
              </div>
            </div>
          </div>
          </span>
        </div>
      </div>
        <div class="col-md-3 pl5">
          <div class="right-side">
            <img src="img/ladyphone.jpg" alt="" class="full-width">
            <div class="reg-box text-center">
              <button type="button" name="button" class="btn btn-primary btn-lg ">Registration</button>
            </div>
          </div>
        </div>
      </div>
      <!-- </span> -->
      </div>
    </div>
    </div>
  </div>
</section>
