<div class="new-jobpost brand-gray-bg">
  <h3 class="blue-color text-center">Post Your Job</h3>
  <div class="container-fluid">
    <div class="white-bg newjob-form">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="register-form">
              <form name="newjobform">
                <div class="form-group">
                  <input type="text" name="designation" class="form-control" placeholder="Job Designation" ng-model="designation" required>
                  <div class="ab" ng-show="newjobform.designation.$error.required && newjobform.designation.$touched" role="alert">Please enter your Job Designation.</div>
                </div>
                <div class="form-group">
                  <input type="text" name="department" ng-model="department" class="form-control" placeholder="Department" required>
                  <div class="ab" ng-show="newjobform.department.$error.required && newjobform.department.$touched" role="alert">Please enter your Department.</div>
                </div>
                <div class="form-group">
                  <input type="text" name="description" class="form-control" ng-model="description" placeholder="Description" required>
                  <div class="ab" ng-show="newjobform.description.$error.required && newjobform.description.$touched" role="alert">Please enter your Description.</div>
                </div>
                <div class="form-group">
                  <input type="text" name="reporting" ng-model="reporting" class="form-control" placeholder="Reporting" required>
                  <div class="ab" ng-show="newjobform.reporting.$error.required && newjobform.reporting.$touched" role="alert">Please enter Reporting.</div>
                </div>
                <div class="form-group">
                  <div class="search-input select-newjob custom-select text-center">
                    <select class="form-control" name="experience" required>
                      <option value="Experience" selected >Experience</option>
                      <option>Less than 1 Year</option>
                      <option>1 - 5 Years</option>
                      <option>6 - 10 Years</option>
                      <option>11 - 15 Years</option>
                      <option>More than 15 Years</option>
                    </select>
                    <span class="job-select"></span>
                  </div>
                  <div class="ab" ng-show="newjobform.experience.$error.required && newjobform.experience.$touched" role="alert">Please enter your Experience.</div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="search-input select-newjob custom-select text-center">
                        <select class="form-control" name="experience" required>
                          <option value="Experience" selected >Experience</option>
                          <option>Less than 1 Year</option>
                          <option>1 - 5 Years</option>
                          <option>6 - 10 Years</option>
                          <option>11 - 15 Years</option>
                          <option>More than 15 Years</option>
                        </select>
                        <span class="job-select"></span>
                      </div>
                      <div class="ab" ng-show="newjobform.experience.$error.required && newjobform.experience.$touched" role="alert">Please enter your Experience.</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="search-input custom-select select-newjob text-center">
                        <select class="form-control" name="reportees" required>
                          <option value="Reportees" selected>Reportees</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                        </select>
                        <span class="job-select"></span>
                      </div>
                      <div class="ab" ng-show="newjobform.reportees.$error.required && newjobform.reportees.$touched" role="alert">Please enter Reportees.</div>
                    </div>
                  </div>
                </div> -->
                <div class="text-center">
                  <button type="submit" class="btn btn-primary" ui-sref="companyprofile">Post Job</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
