<div class="pt45">
  <section class="post-job">
    <div class="landing">
      <div class="container">
        <!-- <div class="">
          <p><span>Time</span>is at a premium,</p>
          <p>so are the <span>minds</span>respect it.</p>
        </div> -->
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="search-input custom-select text-center">
              <select class="form-control">
                <option>Select Category</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <span class="job-select"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="text-center post-job-btn">
              <button class="btn btn-primary" ui-sref="search">Post Job New</button>
              <div class="post-jb">
                <a href="">Looking for a job ?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="heading-job-bg">
      <div class="container">
        <h4 class="blue-color">How do you benefit?</h4>
      </div>
    </div>
    <div class="brand-gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="benefit-list">
              <ul>
                <li><i class="fa fa-check-circle"></i> No Pay check, benefit and perks</li>
                <li><i class="fa fa-check-circle"></i> No Extensive paperwork and procedure</li>
                <li><i class="fa fa-check-circle"></i> Reduce employee commitiment/dependance</li>
                <li><i class="fa fa-check-circle"></i> Maximise workforce elasticity</li>

              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="benefit-list">
              <ul>
                <li><i class="fa fa-check-circle"></i> No Pay check, benefit and perks</li>
                <li><i class="fa fa-check-circle"></i> No Extensive paperwork and procedure</li>
                <li><i class="fa fa-check-circle"></i> Reduce employee commitiment/dependance</li>
                <li><i class="fa fa-check-circle"></i> Maximise workforce elasticity</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
