<div class="pt45">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="profile-head">
            <span>my profile</span>
          </div>
          <div class="profile-tab">
            <ul>
              <li>about me</li>
              <li>notification</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="search-prsn">
            <div class="row">
              <div class="col-md-2">
                <div class="pro-img">
                  <img src="img/search.png">
                </div>
              </div>
              <div class="col-md-10">
                <div class="user-info">
                  <div class="pro-personal">
                    <div class="edit-icon  pull-right">
                      <img src="img/pencil.jpg">
                    </div>
                    <div class="pro-icon">
                      <img src="img/icon1.png">
                    </div>
                    <div class="profile-info">
                      <div class="pro-head">
                        <h4>Personal detail</h4>
                        <span>Nita Shah</span>
                        <span>nita@email.com</span>
                        <div class="pro-add">
                          <p>+91 8080808080</p>
                          <p>Laxmi nivas, a-30</p>
                          <p>Near sadhana school</p>
                          <p>Sion (East), Mumbai</p>
                          <p>Maharashtra-420020</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pro-personal">
                    <div class="edit-icon  pull-right">
                      <img src="img/pencil.jpg">
                    </div>
                    <div class="pro-icon">
                      <img src="img/icon1.png">
                    </div>
                    <div class="profile-info">
                      <div class="pro-head">
                        <h4>Education</h4>
                        <span>Shah art and science collage</span>
                        <span>Mumbai, Maharashtra</span>
                      </div>
                    </div>
                  </div>
                  <div class="pro-personal">
                    <div class="edit-icon  pull-right">
                      <img src="img/pencil.jpg">
                    </div>
                    <div class="pro-icon">
                      <img src="img/icon3.png">
                    </div>
                    <div class="profile-info">
                      <div class="pro-head">
                        <h4>Expriance</h4>
                        <span>As a UI Designer in wohlig technology. 4 year of expriance</span>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="lady-img">
            <img src="img/right.jpg" class="img-responsive">
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
