<div class="" ng-init="abc=false;" ng-if="data.accesslevel == 'lancer'">
  <div class="company-profiletab brand-gray-bg">
    <div class="container">
      <h3 class="company-name blue-color">My Profile</h3>
      <uib-tabset>
        <uib-tab>
          <uib-tab-heading><span>About Me</span></uib-tab-heading>
          <div class="about-company white-bg">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-3">
                    <div class="cropArea">
                      <img-crop image="myImage" result-image="myCroppedImage" area-type="{square}"></img-crop>
                    </div>
                    <div class="company-imgholder">
                      <div ng-controller="UploadCtrl">
                        <img ng-src="{{profilepic|serverimage}}" alt="Profile Image" class="m-center img-responsive">
                        <div class="edit-profile pointer">
                          <input type="file" class="form-control ab" ng-model="profilepic" accept=".jpg,.png" file-model="profilepic" ng-file-select="onFileSelect($files,1)" onclick="this.value=null" ng-init="imageAccess='editLancer'">
                          <div ng-if="done">
                            <div ng-init="submitDP(profilepic)"></div>
                          </div>
                          <div ng-if="profilepic">
                            <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                          </div>
                          <i class="fa fa-camera block text-center"></i>
                          <span class="text-center block">Edit Profile Picture</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="company-detail">
                      <div class="profile-detail">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="pro-icon">
                              <img src="img/icon3.png">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="edit-btn pull-right">
                              <!-- <button type="button" ng-value="editPersonal"  ng-model="editPersonal" aria-label="Toggle ngHide"> -->
                              <img ng-src="img/pencil.jpg" class="img-responsive" ng-click="togglePD(isEditPD)">
                              <!-- {{editPersonal}}</button> -->
                            </div>
                            <div class="profile-info">
                              <div class="pro-head">
                                <h4 class="blue-color head-title">Personal details</h4>
                                <div class="pro-add">
                                  <!-- {{editPersonal}} -->
                                  <div ng-hide="isEditPD">
                                    <!-- {{profilepic}} -->
                                    <span class="block">{{personalDetails.name}}</span>
                                    <span class="block">{{personalDetails.email}}</span>
                                    <span class="block">{{personalDetails.contactNo}}</span>
                                    <span class="block">{{personalDetails.location}}</span>
                                  </div>
                                  <!-- <span class="block">Near Sadhana School</span>
                                  <span class="block">Sion (East), Mumbai</span>
                                  <span class="block">Maharashtra-420020</span> -->
                                  <div ng-show="isEditPD">
                                    <form name="editPD">
                                      <div class="form-group">
                                        <label>Name: </label>
                                        <input type="text" ng-model="personalDetails.name" class="form-control">
                                      </div>
                                      <div class="form-group">
                                        <label>Email: </label>
                                        <input type="text" ng-model="personalDetails.email" class="form-control">
                                      </div>
                                      <div class="form-group">
                                        <label>Contact Number: </label>
                                        <input type="text" ng-model="personalDetails.contactNo" class="form-control">
                                      </div>
                                      <div class="form-group">
                                        <label>Address: </label>
                                        <input type="text" ng-model="personalDetails.location" class="form-control">
                                      </div>
                                      <div class="form-group">
                                        <button ng-click="showEditPD('showFalse');submitPD(personalDetails);" class="btn btn-primary btn-default">Submit</button>
                                        <button ng-click="showEditPD('showFalse')" class="btn btn-primary btn-default">Cancel</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="profile-detail">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="pro-icon">
                              <img src="img/icon1.png">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="edit-btn pull-right">
                              <img src="img/pencil.jpg" class="img-responsive" ng-click="toggleEdu(isEditEdu)">
                            </div>
                            <div class="profile-info">
                              <div class="pro-head">
                                <h4 class="blue-color head-title">Education</h4>
                                <span class="block" ng-repeat="edu in education" ng-hide="isEditEdu" ng-if="education.length > 0">{{edu.examination}}, {{edu.percentage}}, {{edu.institution}}</span>
                                <!-- <span class="block">K.J Somaiya Of Science &amp; Comm.</span> -->
                              </div>
                            </div>
                            <div ng-show="isEditEdu">
                              <form>
                                <div ng-repeat="edu in education">
                                  <div class="rl">
                                    <div class="close ab"><i class="fa fa-close"></i></div>
                                  </div>
                                  <div class="form-group">
                                    <label>Examination: </label>
                                    <input type="text" ng-model="edu.examination" class="form-control">
                                  </div>
                                  <div class="form-group">
                                    <label>Percentage: </label>
                                    <input type="text" ng-model="edu.percentage" class="form-control">
                                  </div>
                                  <div class="form-group">
                                    <label>Institution: </label>
                                    <input type="text" ng-model="edu.institution" class="form-control">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <button ng-click="addNewEdu()" class="btn btn-primary btn-default">Add New Education Detail</button>
                                  <button ng-click="showEditEdu('showFalse');submitEdu(education);" class="btn btn-primary btn-default">Submit</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="profile-detail">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="pro-icon">
                              <img src="img/icon3.png">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="edit-btn pull-right">
                              <img src="img/pencil.jpg" alt="" class="img-responsive" ng-click="toggleExp(isEditExp)">
                            </div>
                            <div class="profile-info">
                              <div class="pro-head">
                                <h4 class="blue-color head-title">Experience</h4>
                                <ul ng-repeat="we in experience" ng-hide="isEditExp" ng-if="experience.length > 0">
                                  <li>{{we.company}}</li>
                                  <li>{{we.duration}}</li>
                                  <li>{{we.responsibilities}}</li>
                                  <li>{{we.designation}}</li>
                                </ul>
                                <div ng-show="isEditExp">
                                  <form>
                                    <div ng-repeat="we in experience">
                                      <div class="form-group">
                                        <label>Company: </label>
                                        <input type="text" ng-model="we.company" class="form-control">
                                      </div>
                                      <div class="form-group">
                                        <label>Duration: </label>
                                        <input type="text" ng-model="we.duration" class="form-control">
                                      </div>
                                      <div class="form-group">
                                        <label>Responsibilities: </label>
                                        <textarea ng-model="we.responsibilities" class="form-control"></textarea>
                                      </div>
                                      <div class="form-group">
                                        <label>Designation: </label>
                                        <input type="text" ng-model="we.designation" class="form-control">
                                      </div>
                                      <hr>
                                    </div>
                                    <div class="form-group">
                                      <button ng-click="addNewExp()" class="btn btn-primary btn-default">Add New Experience</button>
                                      <button ng-click="showEditExp('showFalse');submitExp(experience);" class="btn btn-primary btn-default">Submit</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--         <div class="read-more">
                        <button class="btn btn-primary">Read More</button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="lady-img">
                  <img src="img/right.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><span>Notifications</span></uib-tab-heading>
          <div class="notifications">
            <div class="row">
              <div class="col-md-9">
                <div class="list white-bg" ng-repeat="notify in notifications.data">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="company-imgholder">
                        <img src="img/house.jpg" alt="Company Image" class="img-responsive">
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="name-row">
                        <div class="pull-right">
                          <!-- <span >{{ | amDateFormat:'dddd, MMMM Do YYYY'}}</span> -->
                          <span class="bold" am-time-ago="notify.postingDate"></span>
                        </div>
                        <h5 class="blue-color bold">{{notify.title}}</h5>
                        <div class="job-cont">
                          <ul class="list-unstyled">
                            <li class=" bold">{{notify.jobPayment}}</li>
                            <li class=" bold">{{notify.payment}}</li>
                            <li class=" bold">{{notify.timeCommitment}}</li>
                          </ul>
                        </div>
                        <div class="box-cont">
                          <p>{{notify.description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="lady-img">
                  <img src="img/right.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>


<!-- company profile -->
<div ng-if="data.accesslevel == 'client'">
  <div class="company-profiletab brand-gray-bg">
    <div class="container">
      <h3 class="company-name blue-color">{{company.company.companyName}} Company Profile</h3>
      <uib-tabset>
        <uib-tab>
          <uib-tab-heading><span>About Company</span></uib-tab-heading>
          <div class="about-company white-bg">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-3">
                    <div class="company-imgholder">
                      <div ng-controller="UploadCtrl">
                        <form name="uploadForm">
                          <img src="{{company.image|serverimage}}" alt="Profile Image" class="m-center img-responsive">
                          <div class="edit-profile pointer">
                            <input type="file" class="form-control ab" ng-model="company.image" accept=".jpg,.png" file-model="company.image" ng-file-select="onFileSelect($files,1)" onclick="this.value=null" ng-init="imageAccess = 'editClient'">
                            <div ng-if="done">
                              <div ng-init="submitLogo(company, uploadForm)"></div>
                            </div>
                            <div ng-if="company.image">
                              <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                            </div>
                            <i class="fa fa-camera block text-center"></i>
                            <span class="text-center block">Edit Profile Picture</span>
                          </div>
                        </form>
                      </div>
                      <!-- <img src="{{company.image|serverimage}}" alt="Company Image" class="img-responsive"> -->
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="company-detail">
                      <div class="profile-detail">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="pro-icon">
                              <img src="img/icon3.png">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="edit-btn pull-right">
                              <img src="img/pencil.jpg" alt="" class="img-responsive" ng-click="toggleCD(isEditCD)">
                            </div>
                            <div class="profile-info">
                              <div class="pro-head">
                                <h4 class="blue-color head-title">Company details: </h4>
                                <div ng-hide="isEditCD">
                                  <!-- {{company}} -->
                                  <span>{{company.name}}</span>
                                  <span>{{company.email}}</span>
                                  <div class="pro-add">
                                    <!-- {{company}} -->
                                    <!-- <span class="block">{{company}}</span> -->
                                    <span class="block">{{company.contactNo}}</span>
                                    <span class="block">{{company.company.website}}</span>
                                    <span class="block">{{company.company.address}}</span>
                                    <!-- <span class="block">Near Sadhana School</span>
                                    <span class="block">Sion (East), Mumbai</span>
                                    <span class="block">Maharashtra-420020</span> -->
                                  </div>
                                </div>
                                <div ng-show="isEditCD">
                                  <form name="editCD">
                                    <div class="form-group">
                                      <label>Name: </label>
                                      <input type="text" ng-model="company.name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Email: </label>
                                      <input type="text" ng-model="company.email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Contact Number: </label>
                                      <input type="text" ng-model="company.contactNo" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Website: </label>
                                      <input type="text" ng-model="company.company.website" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Address: </label>
                                      <input type="text" ng-model="company.company.address" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <button ng-click="submitCD(company, editCD)" class="btn btn-primary btn-default">Submit</button>
                                      <button ng-click="EditCD('showFalse')" class="btn btn-primary btn-default">Cancel</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="profile-detail">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="pro-icon">
                              <img src="img/icon3.png">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="edit-btn pull-right">
                              <img src="img/pencil.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="profile-info">
                              <div class="pro-head">
                                <h4 class="blue-color head-title">Experience</h4>
                                <span>{{company.companyDetails.experience}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <div class="profile-detail">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="pro-icon">
                              <img src="img/icon3.png">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="edit-btn pull-right">
                              <img src="img/pencil.jpg" alt="" class="img-responsive" ng-click="toggleDescription(isEditDescription)">
                            </div>
                            <div class="profile-info">
                              <div class="pro-head">
                                <div ng-hide="isEditDescription">
                                  <h4 class="blue-color head-title">Description</h4>
                                  <span>{{company.company.description}}</span>
                                </div>
                                <div ng-show="isEditDescription">
                                  <form name="editDescription">
                                    <div class="form-group">
                                      <label>Description: </label>
                                      <textarea type="text" ng-model="company.company.description" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                      <button ng-click="submitCD(company, editDescription)" class="btn btn-primary btn-default">Submit</button>
                                      <button ng-click="EditDescription('showFalse')" class="btn btn-primary btn-default">Cancel</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="post-jb">
                        <button class="btn btn-primary" ng-click="job()">Post Job</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="lady-img">
                  <img src="img/right.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><span>List Of Jobs</span></uib-tab-heading>
          <div class="list-jobs white-bg">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <!-- <div class="col-md-3">
                    <div class="company-imgholder">
                      <img src="img/house.jpg" alt="Company Image" class="img-responsive">
                    </div>
                  </div> -->
                  <div class="col-md-12">
                    <div class="job-list-main" ng-repeat="job in jobs">
                      <div class="edit-btn pull-right">
                        <i class="fa fa-pencil"></i>
                        <i class="fa fa-trash"></i>
                      </div>
                      <h4 class="blue-color job-title text-uppercase m-clear">{{job.department}}</h4>
                      <div class="job-detail">
                        <p class="text-justify">{{job.description}}</p>
                        <p class="text-justify">{{job.designation}}</p>
                        <p class="text-justify">{{job.city}}</p>
                        <p class="text-justify">{{job.state}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="lady-img">
                  <img src="img/right.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
