<div class="pt45">
  <div class="company-profiletab brand-gray-bg">
    <div class="container">
      <h3 class="company-name blue-color">My Profile</h3>
      <uib-tabset>
        <uib-tab>
          <uib-tab-heading><span>About Me</span></uib-tab-heading>
          <div class="about-company white-bg">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-3">
                    <div class="company-imgholder">
                      <img src="img/search.png" alt="Profile Image" class="m-center img-responsive">
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="company-detail">
                      <div class="profile-detail">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="pro-icon">
                              <img src="img/icon3.png">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="edit-btn pull-right">
                              <img src="img/pencil.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="profile-info">
                              <div class="pro-head">
                                <h4 class="blue-color head-title">Company details</h4>
                                <span>Nita Shah (CEO)</span>
                                <span>nita@email.com</span>
                                <div class="pro-add">
                                  <span class="block">+91 8080808080</span>
                                  <span class="block">Laxmi nivas, A-30</span>
                                  <span class="block">Near Sadhana School</span>
                                  <span class="block">Sion (East), Mumbai</span>
                                  <span class="block">Maharashtra-420020</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="profile-detail">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="pro-icon">
                              <img src="img/icon1.png">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="edit-btn pull-right">
                              <img src="img/pencil.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="profile-info">
                              <div class="pro-head">
                                <h4 class="blue-color head-title">Education</h4>
                                <span class="block">Narayana High School, Mumbai</span>
                                <span class="block">K.J Somaiya Of Science &amp; Comm.</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="profile-detail">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="pro-icon">
                              <img src="img/icon3.png">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="edit-btn pull-right">
                              <img src="img/pencil.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="profile-info">
                              <div class="pro-head">
                                <h4 class="blue-color head-title">Experience</h4>
                                <span>As a UI Designer in wohlig technology. 4 year of expriance</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="read-more">
                        <button class="btn btn-primary no-radius">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="lady-img">
                  <img src="img/right.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><span>Notifications</span></uib-tab-heading>
          <div class="notifications">
            <div class="row">
              <div class="col-md-9">
                <div class="list white-bg">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="company-imgholder">
                        <img src="img/house.jpg" alt="Company Image" class="img-responsive">
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="name-row">
                        <div class="pull-right">
                          <span class="bold">1 Day Ago</span>
                        </div>
                        <h5 class="blue-color bold">Build a simple Static Webpage</h5>
                        <div class="job-cont">
                          <ul class="list-unstyled">
                            <li class=" bold">Hourly</li>
                            <li class=" bold">1000-2000 Rs.</li>
                            <li class=" bold">40 hours weekly</li>
                          </ul>
                        </div>
                        <div class="box-cont">
                          <p>
                            I am looking for a static web page developer to work on it. The first project would be to develop a static page.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list white-bg">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="company-imgholder">
                        <img src="img/house.jpg" alt="Company Image" class="img-responsive">
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="name-row">
                        <div class="pull-right">
                          <span class="bold">2 Day Ago</span>
                        </div>
                        <h5 class="blue-color bold">Build a simple Dynamic Webpage</h5>
                        <div class="job-cont">
                          <ul class="list-unstyled">
                            <li class=" bold">Hourly</li>
                            <li class=" bold">1000-2000 Rs.</li>
                            <li class=" bold">40 hours weekly</li>
                          </ul>
                        </div>
                        <div class="box-cont">
                          <p>
                            I am looking for a Dynamic web page developer to work on it. The first project would be to develop a static page.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list white-bg">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="company-imgholder">
                        <img src="img/house.jpg" alt="Company Image" class="img-responsive">
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="name-row">
                        <div class="pull-right">
                          <span class="bold">2 Day Ago</span>
                        </div>
                        <h5 class="blue-color bold">Build a simple Dynamic Webpage</h5>
                        <div class="job-cont">
                          <ul class="list-unstyled">
                            <li class=" bold">Hourly</li>
                            <li class=" bold">1000-2000 Rs.</li>
                            <li class=" bold">40 hours weekly</li>
                          </ul>
                        </div>
                        <div class="box-cont">
                          <p>
                            I am looking for a Dynamic web page developer to work on it. The first project would be to develop a static page.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="lady-img">
                  <img src="img/right.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
