<section class="registration-form">
  <div class="account text-center">
    <h3>Create a free <i>flexi <span>Lancer</span></i> account</h3>
  </div>
  <div class="container-fluid">
    <div class="back-white">
      <div class="container">
        <div class="already text-center">
          <p>Already have and account ? <span>Login</span></p>
          <button class="btn btn-primary">
            <i class="fa fa-facebook"></i> Sign up with Facebook
          </button>
          <button class="btn btn-google">
          <i class="fa fa-google-plus"></i> Sign in with Google
          </button>
          <button class="btn btn-linkedin">
          <i class="fa fa-linkedin"></i> Sign in with LinkedIn
          </button>
          <p>or</p>
        </div>
        <form name="registration">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <div class="user">
                  <input type="file" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <input name="name" required ng-model="formregistration.name" type="text" class="form-control" placeholder="Name">
                <i class="fa fa-user"></i>
                <div class="" ng-show="registration.name.$error.required && registration.name.$touched">
                  Please Enter Your Name.
                </div>
              </div>
              <div class="form-group">
                <input name="mail" required ng-model="formregistration.mail" type="email" class="form-control" placeholder="E-Mail">
                <i class="fa fa-envelope"></i>
                <div class="" ng-show="registration.mail.$error.required && registration.mail.$touched">
                  Please Enter Your E-Mail.
                </div>
              </div>
              <div class="form-group">
                <input name="mobile" required ng-model="formregistration.mobile" type="text" class="form-control" placeholder="+91 Contact Number">
                <i class="fa fa-mobile"></i>
                <div class="" ng-show="registration.mobile.$error.required && registration.mobile.$touched">
                  Please Enter Your Contact Number.
                </div>
              </div>
              <div class="form-group">
                <input name="password" required ng-model="formregistration.password" type="password" class="form-control" placeholder="Password">
                <i class="fa fa-lock"></i>
                <div class="" ng-show="registration.password.$error.required && registration.password.$touched">
                  Please Enter Your Password.
                </div>
              </div>
              <div class="form-group">
                <input name="location" required ng-model="formregistration.location" type="text" class="form-control" placeholder="Location">
                <i class="fa fa-map-marker"></i>
                <div class="" ng-show="registration.location.$error.required && registration.location.$touched">
                  Please Enter Your Location.
                </div>
              </div>
              <div class="form-group">
                <input name="job" required ng-model="formregistration.job" type="text" class="form-control" placeholder="Job role">
                <i class="fa fa-user"></i>
                <div class="" ng-show="registration.job.$error.required && registration.job.$touched">
                  Please Enter Your Job Role.
                </div>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <input type="checkbox" class="form-control">
                  <label for=""><span></span> I ACCEPT THE TERMS AND CONDITIONS AND PRIVACY POLICY OF THE WEBSITE </label>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" ng-click="submitform(registration,formregistration)">Sign up</button>
        </form>
        <div class="text-center" ng-hide="completeRegister">
          <h4>Welcome To FlexiLancer</h4>
        </div>
      </div>
    </div>
  </div>
</section>
