<div class="pt45">
  <div class="container">
    <div class="reg-cont ">
      <div class="reg-head text-center">
        Create a free
        <span class="bold">flex</span><span class="blue-color">Client</span>
        Account
      </div>
      <div class="bg-white">
        <p>
          Already have a account? <a sref=""><span class="blue-color">Login</span></a>
        </p>
        <button type="button" name="button" class="btn btn-primary">
          <i class="fa fa-facebook"></i> Sign up with Facebook
        </button>
      </div>
    </div>
  </div>
</div>
