<div class="pt45">
  <section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="search">
          <div class="search-icon">
        <i class="fa fa-search"></i>
          </div>
          <div class="search-input">
            <input type="search">
          </div>
          <div class="search-rslt">
            <span>30 UI Designer found !</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="search">
          <div class="search-icon">
        <i class="fa fa-map-marker"></i>
          </div>
          <div class="search-input">
            <input type="search">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary">Search Jobs</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="search-prsn">
          <div class="row">
            <div class="col-md-3">
              <div class="pro-img">
                <img src="img/resgration.png">
              </div>
            </div>
            <div class="col-md-9">
              <div class="user-info">
                <div class="user-name">
                  <h3>bob corn</h3>
                </div>
                <div class="list-info">
              <ul>
                <li>Hourly</li>
                <li>1000-2000 Rs.</li>
                <li>40 Hour weekly</li>
                <li>posted 2 month ago</li>
                <li>expriance jan, 26, 2016</li>
              </ul>
                </div>
                <div class="list-det">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="lady-img">
          <img src="img/ladyphone.jpg" class="img-responsive">
        </div>
        <div class="reg-btn">
          <button type="submit" class="btn btn-primary">Register Now</button>
        </div>
      </div>
    </div>
  </div>
  </section>

</div>
