<section class="registration-form brand-gray-bg">
  <div class="account text-center">
    <h3 class="">Create a free <i>flexi <span class="blue-color">Lancer</span></i> Account</h3>
  </div>
  <div class="container-fluid">
    <div class="white-bg">
      <div class="container">
        <div class="already text-center">
          <h4>Already have and account ? <a href="" class="blue-color" ng-click="login();">Login</a></h4>
          <div class="social-btn">
            <a href="http://vignesh.com/user/loginf"><button class="btn btn-facebook">
              <i class="fa fa-facebook btn-social-icon"></i> Sign up with Facebook
            </button>
            </a>
            <a href="http://vignesh.com/user/loging">
            <button class="btn btn-googleplus">
              <i class="fa fa-google-plus btn-social-icon"></i> Sign in with Google
            </button>
            </a>
            <a href="http://vignesh.com/user/loginl">
            <button class="btn btn-linkedin">
              <i class="fa fa-linkedin btn-social-icon"></i> Sign in with LinkedIn
            </button>
            </a>
          </div>
          <p class="or">Or</p>
        </div>
        <form name="registration" class="register-form" ng-upload="uploadComplete(content)">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <div class="user rl" ng-controller="UploadCtrl">
                  <!-- <input name="picture" required ng-model="formregistration.picture" type="file" accept=".jpg,.png" class="form-control ab"> -->
                    <input type="file" name="picture" ng-file-select="onFileSelect($files,1)" onclick="this.value=null" ng-model="formregistration.picture" accept=".jpg,.png" class="form-control ab">
                    <div ng-if="formregistration.picture">
                      <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                    </div>
                      <!-- Name: <span ng-bind="item.file.name"></span><br/>
                      <button ng-click="item.upload()">upload</button> -->
                      <!-- <br><button ng-click="item.onSuccess()">Success?</button> -->
                  <!-- {{formregistration.picture.name}}<button ng-click = "uploadFile()">upload me</button> -->
                  <div class="profile-pic ab text-center">
                    <i class="fa fa-user"></i>
                    <p>Upload Picture</p>
                  </div>
                  <h4 ng-if="isloading">Loading...</h4>
                  <div class="uploaded-img">
                    <img ng-src="{{formregistration.picture|serverimage}}">
                  </div>
                </div>
                <!-- <div class="uploaded-img" ng-show="formregistration.picture">
                  <img ng-src="{{formregistration.picture.name|serverimage}}">
                </div> -->
                <!-- <ul>
                  <li ng-repeat="item in uploader.queue">
                      Name: <span ng-bind="item.file.name" file-input="item.file.name"></span><br/>
                      <button ng-click="item.upload()">upload</button>
                  </li>
                </ul> -->
                <!-- {{formregistration.picture}} -->
                <!-- <span ng-show="formregistration.picture">Upload Successful</span> -->
                <div class="" ng-show="formregistration.picture.$error.picture && formregistration.picture.$touched">
                  Please Upload Your Picture.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group rl">
                <input name="name" ng-model="formregistration.name" type="text" class="form-control input-placeholder" placeholder="Name">
                <i class="fa fa-user input-icon ab"></i>
                <div class="ab" ng-show="formregistration.name.$touched">
                  Please Enter Your Name.
                </div>
              </div>
              <div class="form-group rl">
                <input name="mail" required ng-model="formregistration.mail" type="email" class="form-control input-placeholder" placeholder="E-Mail">
                <i class="fa fa-envelope input-icon ab"></i>
                <div class="ab" ng-show="formregistration.mail.$error.required && formregistration.mail.$touched">
                  Please Enter Your E-Mail.
                </div>
              </div>
              <div class="form-group rl">
                <input name="password" required ng-model="formregistration.password" type="password" class="form-control input-placeholder" placeholder="Password">
                <i class="fa fa-lock input-icon ab"></i>
                <div class="ab" ng-show="formregistration.password.$error.required && formregistration.password.$touched">
                  Please Enter Your Password.
                </div>
              </div>
              <div class="form-group rl">
                <input type="text" name="name" value="+91" disabled class="side" >
                <input name="mobile" ng-model="formregistration.mobile" type="text" class="form-control input-placeholder aside" placeholder="Contact Number">
                <i class="fa fa-mobile input-icon ab"></i>
                <div class="ab" ng-show="formregistration.mobile.$touched">
                  Please Enter Your Contact Number.
                </div>
              </div>
              <div class="form-group rl">
                <input name="location" ng-model="formregistration.location" type="text" class="form-control input-placeholder" placeholder="Location">
                <i class="fa fa-map-marker input-icon ab"></i>
                <div class="ab" ng-show="formregistration.location.$touched">
                  Please Enter Your Location.
                </div>
              </div>
              <div class="form-group rl">
                <textarea name="job" ng-model="formregistration.job" type="text" class="form-control input-placeholder" placeholder="About Me"></textarea>
                <i class="fa fa-pencil-square-o input-icon ab"></i>
                <div class="ab" ng-show="formregistration.job.$touched">
                  Please Enter Your Detail.
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="radio">
                      <input  type="radio" name="worktime" class="" id="time">
                      <label for="time"><span></span> Full Time </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="radio">
                      <input  type="radio" name="worktime" class="" id="work">
                      <label for="work"><span></span> Part Time </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" name="workwish" class="" id="home">
                      <label for="home"><span></span> Work From Home </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="radio">
                      <input type="radio" name="workwish" class="" id="off">
                      <label for="off"><span></span> Work From Office </label>
                    </div>
                  </div>
                </div>
              </div>
              <label>Please Upload Your Resume</label>
              <div class="form-group rl" ng-controller="UploadCtrl">
                <!-- <input name="upload" required ng-model="formregistration.resume" type="file" class="form-control input-placeholder" placeholder="Please Upload Resume" file-model = "formregistration.resume" accept=".docx,.pdf"> -->
                <input type="file" name="upload" ng-file-select="onFileSelect($files,2)" onclick="this.value=null" ng-model="formregistration.resume" accept=".pdf, .docx" class="form-control">
                <div ng-if="formregistration.resume">
                  <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                </div>
                <!-- <h4 ng-if="isloading">Loading...</h4> -->
                <label>{{formregistration.filename}}</label>
                <!-- <img ng-src="{{formregistration.resume.name|serverimage}}" style="height:200px;"> -->
                <i class="fa fa-file input-icon ab"></i>
                <div class="ab" ng-show="formregistration.upload.$touched">
                  Please Upload Your Resume.
                </div>
              </div>
              <!-- {{formregistration.upload}} -->
              <div class="form-group">
                <div class="checkbox">
                  <input name="tc" required ng-model="formregistration.tc" type="checkbox" class="form-control" id="check">
                  <label for="check"><span></span> I Accept The Terms And Conditions And Privacy Policy Of The Website. </label>
                </div>
                <div class="" ng-show="formregistration.tc.$error.required && formregistration.tc.$touched"></div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary signup" ng-click="signUpLancer(formregistration,registration)" ui-sref="searchcategory">Sign up</button>
            <!-- <div ng-if="!"></div> -->
          </div>
          {{registration}}
        </form>
        <!-- <div class="text-center" ng-hide="completeRegister">
          <h4>Welcome To FlexiLancer</h4>
        </div> -->
      </div>
    </div>
  </div>
</section>
