<div class="">
  <section>
    <div class="brand-gray-bg">
      <div class="container">
        <h3>Resume</h3>
      </div>
    </div>
    <div class="white-bg resume">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-2">
                <div class="resume-imgholder">
                  <img ng-src="{{resume.profilepic|serverimage}}" class="m-center img-responsive">
                </div>
              </div>
              <div class="col-md-10">
                <div class="resume-info mt0">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="pull-right">
                        <button class="btn btn-default btn-primary" ng-click="openpop(resume)">Shortlist</button>
                        <button class="btn btn-default btn-primary">Set Interview</button>
                      </div>
                      <div class="info-name">
                        <h4>{{resume.name}}</h4>
                        <span>{{resume.jobRole}}</span>
                      </div>
                    </div>
                    <!--                   <div class="col-md-9">
                    <div class="resume-heading">
                      <span>Contact</span>
                    </div>
                    <div class="resume-detail">
                      <span class="block "><i class="fa fa-phone blue-color icon"></i> <a ng-href="resume.contactDetails.contactNumber">{{resume.contactNo}}</a></span>
                      <span class="block "><i class="fa fa-envelope blue-color icon"></i> <a ng-href="resume.contactDetails.email">{{resume.email}}</a></span>
                    </div>
                  </div> -->
                  </div>
                </div>
                <div class="resume-info">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="resume-heading">
                        <span>Contact</span>
                      </div>
                      <div class="resume-detail">
                        <span class="block "><i class="fa fa-phone blue-color icon"></i> <a ng-href="resume.contactDetails.contactNumber">{{resume.contactNo}}</a></span>
                        <span class="block "><i class="fa fa-envelope blue-color icon"></i> <a ng-href="resume.contactDetails.email">{{resume.email}}</a></span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="resume-info">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="resume-heading">
                        <span>Key Skills</span>
                      </div>
                      <div class="resume-detail">
                        <ul class="skill-list text-capitalize" ng-repeat="key in resume.keySkills">
                          <li>{{key}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="resume-info">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="resume-heading">
                        <span>Education</span>
                      </div>
                      <div class="resume-detail">
                        <!-- <span class="block" ng-repeat="edu in resume.education">{{edu}}</span> -->
                        <table class="table table-bordered">
                          <tr>
                            <th>Examination</th>
                            <th>Percentage</th>
                            <th>Institution</th>
                          </tr>
                          <tr ng-repeat="edu in resume.education">
                            <td>{{edu.examination}}</td>
                            <td>{{edu.percentage}}</td>
                            <td>{{edu.institution}}</td>
                          </tr>
                        </table>
                        <!-- <span class="block">Mumbai university</span> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="resume-info">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="resume-heading">
                        <span>Experience</span>
                      </div>
                      <div class="resume-detail">
                        <!-- <span class="block" ng-repeat="exp in resume.experience">{{exp}}</span> -->
                        <table class="table table-bordered">
                          <tr>
                            <th>Company</th>
                            <th>Duration</th>
                            <th>Responsibilities</th>
                            <th>Designation</th>
                          </tr>
                          <tr ng-repeat="exp in resume.experience">
                            <td>{{exp.company}}</td>
                            <td>{{exp.duration}}</td>
                            <td>{{exp.responsibilities}}</td>
                            <td>{{exp.designation}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="lady-img">
              <img src="img/right.jpg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
