<div class="pt45">
<section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Resume</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="pro-img">
            <img src="img/search.png">
          </div>

        </div>
        <div class="col-md-3">
          <div class="info-name">
            <h5>PRACHEE SHAH</h5>
            <span>graphic designer</span>
          </div>
        </div>
        <div class="col-md-7">
          <div class="right-info">
            <span>contact</span>
            <div class="right-det">
              <span><i class="fa fa-phone"></i> +91 8080808080</span>
              <span><i class="fa fa-envelope-o"></i> email@email.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
<div class="other-info">
  <span>Key skills</span>
  <div class="other-det">
    <ul>
      <li>adobe photoshop</li>
      <li>adobe illustrate</li>
      <li>adobe indesign</li>
      <li>adobe flash</li>
      <li>adobe photoshop</li>
      <li>adobe illustrate</li>
      <li>adobe indesign</li>
      <li>adobe flash</li>

    </ul>
  </div>
</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
<div class="other-info">
  <span>Education</span>
  <div class="other-det">
<span>Bachelor's degree in designing</span>
<span>Mumbai university</span>
  </div>
</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
<div class="other-info">
  <span>Expriance</span>
  <div class="other-det">
<span>five year of expriancein wohlig technology</span>

  </div>
</div>
        </div>
      </div>
    </div>
</section>

</div>
