<div class="">
  <section>
    <div class="brand-gray-bg">
      <div class="container">
        <h3>Resume</h3>
      </div>
    </div>
    <div class="white-bg resume">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-2">
                <div class="resume-imgholder">
                  <img src="img/search.png" alt="" class="m-center img-responsive">
                </div>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-3">
                    <div class="info-name">
                      <h4>PRACHEE SHAH</h4>
                      <span>Graphic Designer</span>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="resume-heading">
                      <span>Contact</span>
                    </div>
                    <div class="resume-detail">
                      <span class="block "><i class="fa fa-phone blue-color icon"></i> <a href="tel:+918080808080
                          ">+91 8080808080</a></span>
                      <span class="block "><i class="fa fa-envelope blue-color icon"></i> <a href="mailto:email@email.com">email@email.com</a></span>
                    </div>
                  </div>
                </div>
                <div class="resume-info">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="resume-heading">
                        <span>Key Skills</span>
                      </div>
                      <div class="resume-detail">
                        <ul class="skill-list text-capitalize">
                          <li>adobe photoshop</li>
                          <li>adobe illustrate</li>
                          <li>adobe indesign</li>
                          <li>adobe flash</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="resume-info">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="resume-heading">
                        <span>Education</span>
                      </div>
                      <div class="resume-detail">
                        <span class="block">Bachelor's degree in designing</span>
                        <span class="block">Mumbai university</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="resume-info">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="resume-heading">
                        <span>Experience</span>
                      </div>
                      <div class="resume-detail">
                        <span>Five year of Experience in Wohlig Technology.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="lady-img">
              <img src="img/right.jpg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
