<div class=" brand-gray-bg">
  <section>
  <div class="container">
    <div class="search-job">
      <form action="" class="form-inline">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon white-bg no-radius"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control no-radius" placeholder="Graphic Designer" ng-model="jobRoleQuery">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon white-bg no-radius"><i class="fa fa-map-marker"></i></span>
                <input type="text" class="form-control no-radius" placeholder="Mumbai" ng-model="cityQuery">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary ">Search Jobs</button>
          </div>
        </div>
      </form>
      <p class="result-text">{{jobs.count}} Graphic Designer Profiles found !</p>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="search-prsn white-bg" ng-repeat="list in pageOfJobs | filter:(cityQuery || jobRoleQuery)" infinite-scroll="loadMoreTwo()" infinite-scroll-distance='2' infinite-scroll-listen-for-event="shouldscroll">
          <div class="row">
            <div class="col-md-2">
              <div class="pro-img">
                <img ng-src="{{list.image}}">
              </div>
            </div>
            <div class="col-md-5">
              <div class="user-info">
                <div class="user-name">
                  <h4>{{list.name}}</h4>
                </div>
                <div class="user-exp">
                  <p>{{list.role}} <span>({{list.experience}} year(s) experience)</span>
                    <br>{{list.city}}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="view-btn">
                <button class="btn btn-primary">View Profile</button>
                <button class="btn btn-primary">Shortlist</button>
                <button class="btn btn-primary">Set Interview</button>
              </div>
            </div>
          </div>
        </div>
        </span>
      </div>
      <div class="col-md-3">
        <div class="lady-img">
          <img src="img/joblist.jpg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  </section>

</div>
