<div class="">
  <section>
    <div class="landing">
      <div class="container">
        <!-- <div class="row">
          <p><span>Time</span>is at a premium,</p>
          <p>so are the <span>minds</span>respect it.</p>
        </div> -->
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="row">
              <div class="col-md-6">
                <div class="search-input custom-select text-center">
                  <select class="form-control" ng-model="categorySelect" ng-change="showCategorySelect(categorySelect)">
                    <option value="">Job Skills/Company</option>
                    <option ng-repeat="category in categoryOptions">{{category}}</option>
                  </select>
                  <span class="job-select"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="search-input custom-select text-center">
                  <select class="form-control" ng-model="citySelect" ng-change="showCitySelect(citySelect)">
                    <option value="">City/State</option>
                    <option ng-repeat="city in cityOptions">{{city}}</option>
                  </select>
                  <span class="job-select"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary search-btn" ng-click="getJobs()">Search Job</button>
        </div>
      </div>
    </div>
    <!-- remove this div if content comes -->
    <div class="minh">

    </div>
    <!-- remove this div if content comes -->
  </section>
</div>
