<div class="pt45">
  <section>
    <div class="landing">
      <div class="container">
        <!-- <div class="row">
          <p><span>Time</span>is at a premium,</p>
          <p>so are the <span>minds</span>respect it.</p>
        </div> -->
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="row">
              <div class="col-md-6">
                <div class="search-input custom-select text-center">
                  <select class="form-control">
                    <option>Job Skills/Company</option>
                    <option>C++</option>
                    <option>Asp.net</option>
                    <option>Andriod</option>
                  </select>
                  <span class="job-select"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="search-input custom-select text-center">
                  <select class="form-control">
                    <option>City/State</option>
                    <option>Mumbai</option>
                    <option>Manglore</option>
                    <option>Baroda</option>
                  </select>
                  <span class="job-select"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary search-btn" ui-sref="joblisting">Search Job</button>
        </div>
      </div>
    </div>
    <!-- remove this div if content comes -->
    <div class="minh">

    </div>
    <!-- remove this div if content comes -->
  </section>
</div>
