<div class="pt45">
  <section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="search">
          <div class="search-icon">
        <i class="fa fa-search"></i>
          </div>
          <div class="search-input">
            <input type="search">
          </div>
          <div class="search-rslt">
            <span>30 UI Designer found !</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="search">
          <div class="search-icon">
        <i class="fa fa-map-marker"></i>
          </div>
          <div class="search-input">
            <input type="search">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary">Search Jobs</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="search-prsn">
          <div class="row">
            <div class="col-md-2">
              <div class="pro-img">
                <img src="img/search.png">
              </div>
            </div>
            <div class="col-md-6">
              <div class="user-info">
                <div class="user-name">
                  <h4>Sania Mirza</h4>
                </div>
                <div class="user-exp">
                  <span>Graphic designer (4 year experiance)</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="view-btn">
                <button class="btn btn-primary">View resume</button>
                <button class="btn btn-primary">Hire him/her</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="lady-img">
          <img src="img/joblist.jpg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  </section>

</div>
