<header ng-controller="headerctrl">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="clearfix">
        <div class="navbar-header pull-left">
          <a class="navbar-brand" href="#/home"><img src="img/logo.png" alt="logo" width=""> </a>
        </div>
        <div class="pull-right">
          <div class="profile inline-block">
            <a href="" class="name block">Bhramanand</a>
              <ul class="submenu">
                <li><a href=""><i class="fa fa-user"></i>My Profile</a></li>
                <li><a href=""><i class="fa fa-sign-out"></i>Logout</a></li>
              </ul>
          </div>
          <button type="button" name="button" class="backsidemenu inline-block" ng-click="slidemenu();">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="get-slidemenu {{slideclass}} ">
            <div ng-include="template.menu" class="template menu"></div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
